.cl-green {
    color: #469726;
}

.cl-cyan {
    color: #407ee7;
}

.cl-blue {
    color: #6666ea;
}

.cl-magenta {
    color: #c33ff3;
}

.cl-red {
    color: #f22c40;
}

.cl-yellow {
    color: #c38418;
}

.cl-orange {
    color: #df5320;
}

.cl-white {
    color: #fff;
}
