.green {
    color: #469726;
}

.cyan {
    color: #407ee7;
}

.blue {
    color: #6666ea;
}

.magenta {
    color: #c33ff3;
}

.red {
    color: #f22c40;
}

.yellow {
    color: #c38418;
}

.orange {
    color: #df5320;
}

.white {
    color: #fff;
}
